In [11]:
print ('Hello')

Hello

In [26]:
#Integers

a = 10
b = 18
c = 12

a+b+c

40

In [28]:
# Type function to identify the INT

type (a)

int

In [16]:
type (b)

int

In [25]:
type (c)

int

In [ ]:
# floating numbers

d = 1.0
e = 1.22
f = 2.22
c+d

In [35]:
type(d)

float

In [41]:
#strings

name = "manikanta goud"
name1 = "kanni goud"

name1

name + "space" +name1

'manikanta goudspacekanni goud'

In [42]:
type(name)

str

In [44]:
#Lists

lst = ["mani",10,2587,58.96,[4,5,6]]
lst

['mani', 10, 2587, 58.96, [4, 5, 6]]

In [45]:
lst[0]

'mani'

In [46]:
lst[-1]

[4, 5, 6]

In [49]:
lst.append("naresh")

In [50]:
lst

['mani', 10, 2587, 58.96, [4, 5, 6], 'naresh', 'naresh']

In [51]:
lst.remove("naresh")

In [52]:
lst

['mani', 10, 2587, 58.96, [4, 5, 6], 'naresh']

In [54]:
lst.index(2587)

2

In [55]:
lst.pop()

'naresh'

In [56]:
lst

['mani', 10, 2587, 58.96, [4, 5, 6]]

In [57]:
lst[4][2]

6

In [58]:
#Dictionaries {"key": "value"}

dit = {"name": "manikanta","age": "24","number":"8096334092","email":"sgouds0@gmaail.com"}

dit

{'name': 'manikanta',
 'age': '24',
 'number': '8096334092',
 'email': 'sgouds0@gmaail.com'}

In [61]:
dit.get('name')

'manikanta'

In [62]:
dit.items()

dict_items([('name', 'manikanta'), ('age', '24'), ('number', '8096334092'), ('email', 'sgouds0@gmaail.com')])

In [63]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [64]:
dit.pop("age")

'24'

In [65]:
dit

{'name': 'manikanta', 'number': '8096334092', 'email': 'sgouds0@gmaail.com'}

In [66]:
#Adding the new values into the dictionaries

dit["collage"] = "ARJUN"

In [67]:
dit

{'name': 'manikanta',
 'number': '8096334092',
 'email': 'sgouds0@gmaail.com',
 'collage': 'ARJUN'}

In [68]:
type(dit)

dict

In [72]:
#SETS

st = {"kanni","manikanta",1,2,3,4,5,5,5,6,6,6,7,8}

In [73]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 'kanni', 'manikanta'}

In [79]:
st1 ={'kanni',1}

In [80]:
st1.issubset(st)

True

In [81]:
# Tuples

tup = ("mani","@","mail.com")

In [82]:
tup

('mani', '@', 'mail.com')

In [84]:
tup.count("mani")

1

In [85]:
tup.index("mail.com")

2

In [ ]:
# Boolean functions

abc = True
xyz = True
cde = True